{% extends "layouts/layout.html" %}
{% block content %}
<body>
    <div class = "d-flex flex-column flex-shrink-0 p-3 light-mode" style = "width:100%;" >

        <div class = "container-fluid d-flex">
            <a class = "d-flex align-items-center mb-3 mb-md-0 me-md-auto light-text text-decoration-none">
                <h1 class = "fs-2 light-text"> CRM DOCTORS</h1>
            </a>
            <img class = "rounded float-end" src="{{url_for('static', filename='img/huinno_logo.png')}}" style = "width:311px;height:40px;">
        </div>

        <div><hr class = "light-hr"></div>

        <div class="row light-text">

            <div class="col-xl-12 mb-4">
                <form class="col-xl-8 form-inline d-flex" method="POST" action="{{ url_for('func_crm_doctor_select')}}">
                    <div class="form-group d-flex">
                        <div class="input-group">
                            <select name="the_name" class="selectpicker form-control">
                              {% for i in the_name_lst %}
                              <option value="{{ i }}">{{ i }}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" style = "margin-left:20px;" >LOAD</button>
                    </div>


                </form>
            </div>

        </div>

        <div class="row light-text">
            <h4>DOCTOR'S INFORMATION</h4>
            <div class="col-xl-4 col-sm-6 mb-xl-0">
                    <div>{{ the_active_map|safe }}</div>
            </div>

            <div class="col-xl-8 col-sm-6 mb-xl-0">
                <div class="col-xl-12 col-sm-6 mb-xl-0">
                    <table class = 'table light-text'>
                        <tbody>
                            <tr style = "background-color:whitesmoke;">
                                <th scope="row">병원구분</th>
                                <th scope="row">병원명</th>
                                <th scope="row">교수명</th>
                                <th scope="row">최초 처방일자</th>
                                <th scope="row">최근 처방일자</th>
                                <th scope="row">총 사용기간</th>
                                <th scope="row">미 처방기간</th>
                            </tr>
                            <tr>
                                <td>{{hosp_type}}</td>
                                <td>{{hosp_name}}</td>
                                <td>{{doct_name}}</td>
                                <td>{{min_date}}</td>
                                <td>{{max_date}}</td>
                                <td>{{tot_dur}}</td>
                                <td>{{duration}}</td>
                            </tr>


                         </tbody>
                    </table>
                </div>

                <div class="col-xl-12 col-sm-6 mb-xl-0 ml-2">
                    <table class="table table-hover">
                        <tr style = "background-color:whitesmoke;">
                            {% for col in the_cols %}
                            <th scope = "row"><b>{{col | safe}}</b></th>
                            {% endfor %}
                        </tr>
                        {% for row in the_vals %}
                        <tr>
                            {% for col, row_ in zip(the_cols, row) %}
                                <td><b class = "this light-text">{{row_|safe}}</b></td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>


       <div><hr class="light-hr"></div>

        <div class="col-xl-12 col-sm-6 mb-xl-0 mb-4 light-text">
            <h2 class = "fs-3 ">STATUS BY PERIODS</h2>
            <div class="col-xl-12 col-sm-3 mb-xl-0 mb-4">
                <div id = "the_graph_multiple"></div>
            </div>

            <h2 class = "fs-3 ">STATUS BY WEEK DAYS</h2>
             <div class="col-xl-12 col-sm-3 mb-xl-0 mb-4">
                <div id = "fig_multi"></div>
            </div>

        </div>
    </div>

</body>

<script type="text/javascript">

    var graphs = {{the_graph_multiple | safe}};
    Plotly.plot('the_graph_multiple',graphs,{});
    var graphs = {{fig_multi | safe}};
    Plotly.plot('fig_multi',graphs,{});
</script>

{% endblock content %}
